Source: amxa-bootserver-extra
Section: system
Priority: optional
Maintainer: Basil Stotz <stotz@amxa.ch>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/amxa-bootserver-extra.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/amxa-bootserver-extra.git;a=summary

Package: amxa-bootserver-extra
Architecture: all 
Depends: ${misc:Depends},rdiff,vde2,autossh,zsync
Description: Add special commands for amxa bootservers
 Add special commands for amxa bootservers

